{% extends 'base_accounts.html' %}

{% block title %}
	Reset your password
{% endblock%}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-lg-4 col-md-6 col-sm-8">
			<div class="card transparent">
				<div class="card-body">
					<h3 class="card-title text-center">
						Reset your password
					</h3>
					<p class="text-color text-center">Enter your email and we will send you a link to reset your password.</p>
					<form action="" method="post" novalidate="">
						{% csrf_token %}
						{% include 'includes/form.html' %}
						<button class="btn btn-primary btn-block" type="submit">Send password reset email</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}